<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <style>
      .container {
        height: 300px;
      }

      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
       }
      
      img {
        border-radius: 50%;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='styles/functions.css') }}" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/img/tab_logo.ico">
  </head>
  <body class="text-center text-white bg-dark">

<!--Main Nav bar-->    
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
        <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-building" viewBox="0 0 18 18">
            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
          </svg>
          <span class="fs-4"> Building Energy Management Toolkit</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-tools" viewBox="0 0 18 18">
            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
          </svg>
        </a>

        <ul class="nav nav-pills">
          <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/functions" class="nav-link px-2 text-white">Functions Library</a></li>
          <li><a href="/contributors" class="nav-link px-2 text-white active">Contributors</a></li>
          <li><a href="https://github.com/Carleton-DBOM-Research-Group/Building_energy_management_toolkit.git" title="GitHub" class="nav-link px-2 text-white" target="_blank">Source</a></li>
        </ul>
      </div>
    </div>
</header>


<main>

<div class="container-xxl">
  <div class="center">

    <!-- four columns of text -->
    <div class="row">
      <div class="col-lg-3">
        <img src="/static/img/dre-avatar.png" alt="Avatar" width="140" height="140">
        <h2>Andre A. Markus</h2>
        <p>MASc. Student (Carleton)</p>
        <p><a class="btn btn-secondary" href="https://www.researchgate.net/profile/Andre-Markus-2" target="_blank">View details &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img src="/static/img/brodie-avatar.png" alt="Avatar" width="140" height="140">
        <h2>Brodie W. Hobson</h2>
        <p>PhD. Student (Carleton)</p>
        <p><a class="btn btn-secondary" href="https://www.researchgate.net/profile/Brodie-Hobson" target="_blank">View details &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img src="/static/img/burak-avatar.png" alt="Avatar" width="140" height="140">
        <h2>H. Burak Gunay</h2>
        <p>Associate Professor (Carleton)</p>
        <p><a class="btn btn-secondary" href="https://carleton.ca/cee/people/gunay-h-burak/" target="_blank">View details &raquo;</a></p>
      </div><!-- /.col-lg-3 -->
      <div class="col-lg-3">
        <img src="/static/img/scott-avatar.png" alt="Avatar" width="140" height="140">
        <h2>Scott Bucking</h2>
        <p>Associate Professor (Carleton)</p>
        <p><a class="btn btn-secondary" href="https://carleton.ca/cee/people/bucking-scott/" target="_blank">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    </div><!--/.center-->
  </div><!-- /.container -->
</main>

      
  </body>
</html>

  </body>
</html>